body {
  background-color: white;
  font-family: arial;
  color: black;
  text-align: center;
}


#content {
  background-color: white;
  border: 2px solid 000000;
  border-radius: 16px;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 680;
  min-width: 20px;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: 80%;
}

#background {
    /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/65/Grasveld_Oosterpark.jpg);*/
    background-color: lightgrey;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
}



.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

ul {
  color: white;
  background-color: black;
  position: fixed;
  width: 100%;
  margin: -8px;
  padding: 10px;
  position: absolute;
}

.Maps {
  width: 1525px
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

li a:hover:not(.active) {
  background-color: #333;
}

.active {
  background-color: darkblue;
}

.logo {
  float: left;
}

.time {
  float: right;
}

..title {
  color: white;
}
